body {
    background-color: rgb(202, 198, 198);
}
.content-header {
    background-color: white;
    padding: 5px 0px 1px 33%;
    font-size: 125%;
    margin: -10px -10px 0px -10px;
}

.post {
    background-color: white;
    width: 35%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.post-header {
    margin: -5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    
}
.post-footer {
    padding: 10px 15px 10px 15px;
    font-size: 125%;
}
span {
    color: grey;
    padding: 25px 20px 0px 0px;
}
.post img {
    object-fit: contain;
    position: center;
    width:100%;
}